ul,
ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
.logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-part {
    color: #2e2f42
}
.nav-list {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-list :hover,
.nav-list :focus {
    color: #404BBF;
}
.address {
    font-style: normal;
}
.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-list :hover,
.address-list :focus {
    color: #404BBF;
}
.solutions {
    background-color: #2e2f42;
}
.solutions-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}
.order-button {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
}
.order-button :hover,
.order-button :focus {
    font-weight: 600;
    background-color: #404bbf;
}
.list-item {
        color:#2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.value-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.section-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.team {
    background-color: #f4f4fd;
}
.section-title {
        color: #2e2f42;
        line-height: 1.11;
        font-size: 36px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
}
.team-list {
    color: #2e2f42;
}
.team-list-item {
    background-color: #ffffff;
}
.team-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.portfolio-list {
        line-height: 1.2;
        color: #2e2f42;
}
.footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.page-footer {
    background-color: #2E2F42;
}
.footer-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.footer-logo-part {
    color: #f4f4fd;
}