ul,
ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
img {
    display: block;
}
body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    font-style: normal;
    font-weight: 400;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-text-violet {
    color: #4d5ae5
}

.nav-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-list-item :hover,
.nav-list-item :focus,
.nav-list-item :active {
    color: #404BBF;
}

.address-list-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}
.address-list-item :hover,
.address-list-item :focus {
    color: #404BBF;
}
.order-button :hover
.order-button :focus {
    font-weight: 600;
}
.studio-list {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: left;
}
.team-name {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
}
.team-position {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
.portfolio-item {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.portfolio-item-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.footer-text {
    color: #F4F4FD;
    background-color: #2E2F42;
}